body {
  background-color: white;
  color: #00334c;
}

#jtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: courier;
  font-size: 72px;
  color: #00334c;
}

#jtitle li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#jtitle li:hover {
  -webkit-transform: scale(2.0);
  -moz-transform: scale(2.0);
  -o-transform: scale(2.0);
  transform: scale(2.0);
}


.container {
  width: 1080px;
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: courier;
  font-size: 18px;
}

.imgwrap {
  width: 700px;
  margin-left: 190px;
  background-color: #E69340;
}

.imgwrap img {
   width: 700px;
   -webkit-animation: appear 3s;
   -moz-animation: appear 3s;
   -o-animation: appear 3s;
   animation: appear 3s;
}

a:link {
  color: #00334c;
}
a:hover{
  color: #E69340;
}
a:hover:visited{
  color: #E69340;
}
a:visited {
  color: #00334c;
}

#tab-container {
  font-family: courier, sans-serif;
  color: #001A66;
  padding-left: 200px;
}

#tabs {
  margin: auto;
  padding-left: 35px;
  list-style-type: none;
}

#tabs li {
  display: inline-block;
  padding-left: 60px;
  position: relative;
  font-family: courier;
  font-size: 18px;
  font-weight: Bold;
  letter-spacing: 1px;
  background-color: white;
  color: #6C8AE1;
 }


.talents {
  list-style-type: none;
  font-family: courier, sans-serif;
  font-size: 14px;
  color: #00334c;
}

#copyright {
  margin-top: 100px;
  margin-left: 150px;
  font-size: 10px;
  color: #8099A6;
}

@-webkit-keyframes grcans grow {
  0% { -webkit-transform: scale(1.0);}
  10% { -webkit-transform: scale(1.2);}
  20% { -webkit-transform: scale(1.4);}
  30% { -webkit-transform: scale(1.6);}
  40% { -webkit-transform: scale(1.8);}
  50% { -webkit-transform: scale(2.0);}
  60% { -webkit-transform: scale(1.8);}
  70% { -webkit-transform: scale(1.6);}
  80% { -webkit-transform: scale(1.4);}
  90% { -webkit-transform: scale(1.2);}
  100% { -webkit-transform:  scale(1.0);}
}
@-webkit-keyframes appear {
  0% { opacity: 0.0; background: linear-gradient(rgba(230, 147, 64, 0.0), rgba(230, 147, 64, 0.0);}
  10% { opacity: 0.1; background: linear-gradient(rgba(230, 147, 64, 0.1), rgba(230, 147, 64, 0.1);}
  20% { opacity: 0.2; background: linear-gradient(rgba(230, 147, 64, 0.2), rgba(230, 147, 64, 0.2);}
  30% { opacity: 0.3; background: linear-gradient(rgba(230, 147, 64, 0.3), rgba(230, 147, 64, 0.3);}
  40% { opacity: 0.4; background: linear-gradient(rgba(230, 147, 64, 0.4), rgba(230, 147, 64, 0.4);}
  50% { opacity: 0.5; background: linear-gradient(rgba(230, 147, 64, 0.5), rgba(230, 147, 64, 0.5);}
  60% { opacity: 0.6; background: linear-gradient(rgba(230, 147, 64, 0.6), rgba(230, 147, 64, 0.6);}
  70% { opacity: 0.7; background: linear-gradient(rgba(230, 147, 64, 0.7), rgba(230, 147, 64, 0.7);}
  80% { opacity: 0.8; background: linear-gradient(rgba(230, 147, 64, 0.8), rgba(230, 147, 64, 0.8);}
  90% { opacity: 0.9; background: linear-gradient(rgba(230, 147, 64, 0.9), rgba(230, 147, 64, 0.9);}
  100% { opacity:  1.0; background: linear-gradient(rgba(230, 147, 64, 1.0), rgba(230, 147, 64, 1.0);}
}

@-webkit-keyframes shade {
  0% { opacity: 1.0;}
  10% { opacity: 0.9;}
  20% { opacity: 0.8;}
  30% { opacity: 0.7;}
  40% { opacity: 0.6;}
  50% { opacity: 0.5;}
  60% { opacity: 0.4;}
  70% { opacity: 0.3;}
  80% { opacity: 0.2;}
  90% { opacity: 0.1;}
  100% { opacity:  0.0;}
}
