box{
	background-color: green;
	width: 200px;
	height: 200px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	position: absolute;
	left: -180px;
	-webkit-transition: 4s;
}
.box{
background-color: green; 
width: 300px;
height: 300px;
position: absolute;
left: 150px;
top:150px;
-webkit-transform: skew(30deg, 30deg);
-webkit-transition: width 4s, height 4s,  background-color 4s;
}

.box2{
background-color: yellow; 
width: 300px;
height: 300px;
-webkit-transform: skew(30deg, 30deg);
position: absolute;
left: 75px;
top: 75px;
}

.test:hover{
	-webkit-transform: scale(1.5, 1.5);
	-webkit-transform: skew(30deg, 30deg);
	position: absolute;
	left: 75px;
	top: 75px;
}

.bx:hover{
	width: 500px;
	height: 500px;
	background-color: red;
}

.bx:hover{
	width: 500px;
	/*-webkit-transform:background-color: red;*/
	}

a:visited{
background-color: red;
height: 500px;
width: 500px;
}